# Ignored files and folders for Java/Maven projects

# Maven
target
!.mvn/wrapper/maven-wrapper.jar

# IDE configuration files
*.iml
.idea/
*.classpath
*.project

# OS files
.DS_Store

# Logs
*.log

# Other
*.swp
.vscode
